*{ box-sizing: border-box; margin: 0; padding: 0; }
html{ height: 100%; width: 100%; font-family: "微软雅黑"; }
body, #app{ height: 100%;}

.white{ color: white; }
.absolute{ position: absolute !important; }
.over-hidden{ overflow: hidden !important;}

.inline-flex{ display: inline-flex; }
.inline-flex-mid{ display: inline-flex; align-items: center;}
.flex_col_str{ display: flex; align-items: stretch; justify-content: space-between; flex-direction: column;}
.flex_center_justify{ display: flex; align-items: center; justify-content: space-between;}
.relative{ position: relative; }

.flex_col_str > .flex_1 { overflow: hidden;}
.black_bg{ background: #333;}
.main .el-tabs__content{ flex: 1; overflow: auto; padding: 0;}
.container{ padding:20px 20px; }

.w100{ width: 100px;}
.full_height{ height: 100%; }
.text-center{ text-align: center !important;}
.text-right{ text-align: right !important; }
.el-row + .el-row{ margin-top: 10px; }

.el-dialog.full_dialog{ display: flex; flex-direction: column; align-items: stretch; }
.el-dialog.full_dialog .el-dialog__body{ flex: 1; overflow: auto; }

.text_mini{ font-size: 12px;}

.no_border{ border: 0px none !important; }
.no_border *{ border: 0px none !important; }

.filter_box .el-form-item{ margin-bottom: 0; }

.nowrap{ white-space: nowrap; }
.text-right{ text-align: right; }

.avatar-uploader .el-upload { border: 1px dashed #d9d9d9; border-radius: 6px; cursor: pointer; position: relative; overflow: hidden; }
.avatar-uploader .el-upload:hover { border-color: #409EFF; }
.avatar-uploader-icon { font-size: 28px; color: #8c939d; width: 178px; height: 178px; line-height: 178px; text-align: center; }
.avatar { width: 178px; height: 178px; display: block; }
.el-dialog__wrapper{top: 100px;}
.el-dialog__header{padding:0 20px;}
.el-dialog__body{padding:0 20px;}
/*new*/
.flex{ display: flex; }
.flex_1{ flex: 1; }
.w{width:50%;}
.el-container { width: 100%;font-size:14px;color:#333;}
.el-m{margin:10px auto;}
.el-forms{margin-top:30px;}
.el-form-item {margin-bottom:0;}
.el-item{margin-right:20px;}
.date_box{width:200px;}
.date_input{width:150px;}
.date_input2{width:260px;}
.date_input_s{width:120px;}
.date_samll_input{width:60px;}
.date_in{width:90%;}
.date_input5{width:500px;}	
.dialog-footer{text-align: center;}
.dialong_btn{width:25%;background-color:#68CD55;border:none;font-size:18px;}	
.cont_t{border-bottom: 1px solid #C9C9C9;padding-bottom: 5px;text-align: center;}
.cont_btn{background:none;border:none;color:#68cd55;padding:0;}
.cont_btns{margin-top:10px;}
.cont_box{border-top:2px solid #eeeeee;border-bottom:2px solid #eeeeee;padding:10px 0;margin:10px 0;}
.cont_s{font-size:16px;font-weight:normal;}
.cont_bg{background-color:#dddddd;padding:5px 10px;}
.cont-b{border-bottom:1px solid #eeeeee;padding-bottom: 5px;}
.cont_border{border-bottom: 2px solid #eeeeee;padding-bottom: 10px;}
.cont_borders{border:1px solid #eeeeee;padding:10px;}
.cont_bottom{border-bottom: 1px solid #eeeeee;padding-bottom: 5px;}
.cont_bottom_b{border-bottom: 1px solid #eeeeee;padding-bottom: 10px;}
.cont_m_b{margin-bottom: 5px;display: block;}
.cont_bm{margin-bottom: 10px;}	
.cont_top{padding-top:10px;}
.cont_padding{padding:20px;}
.cont_size{margin-bottom: 20px;}
.cont_icon{font-size:20px;color:#cccccc;}
.cont_center{padding-left:15%;}
.cont_block{display: block;}
.cont_file{text-align: center;}
.cont_button{width:98%;}
.cont_span_t{font-size:14px;background-color:#333;color:white;display: block;width:95%;padding:5px 10px;margin-bottom: 20px;}
.select_box{display: inline-block;}	
.span{padding-bottom:3px;display: block;}
.row_s{text-align: center;}
.row_l{text-align: left;margin-top:5px;}
/*input:-internal-autofill-selected { background-color: #fff; background-image: none !important; }*/

.el-container{height:calc(100vh - 121px)}
.el-aside {background-color:#e0f4ff;padding:10px  20px;margin:10px 0 10px 10px;border-radius: 3px;color: #888;}	
.el-main{padding:0 10px;}
.cont_block{display: block;}
.date_picker{width:200px;}
.el-item{margin-right:20px;}
.el-button{margin-bottom:10px;margin-right:10px;margin-left:0;}
.elContianer{position: relative;padding-left: 340px!important;}
.select_box{position: absolute;overflow-x: hidden;box-sizing: border-box;top:0px;left:10px;margin:0;height: 100%;padding-bottom:55px;box-sizing: border-box;}
.select_in{width:20px;height:50px;background-color: #e4e4e4;border-radius: 10px;position: absolute;top:0;bottom:0;right:-10px;margin:auto;cursor: pointer;z-index: 2;}
.select_in .el-icon-arrow-left{position: absolute;top:50%;transform:translateY(-50%);left:0;margin:auto;color:#039ec9; }
.select_out{width:20px;height:50px;background-color: #8a8888;border-radius: 10px;position: fixed;top:0;bottom:0;left:-10px;margin:auto;cursor: pointer;}
.select_out .el-icon-arrow-right{position: absolute;top:50%;transform:translateY(-50%);right:0;margin:auto;color: white;}
.operation_top{padding-bottom:0;}
.operation_top_margin_bottom{margin-bottom:5px;}
.select_in-enter, .select_in-leave-to{transform: translateX(-240px);}
.select_in-enter-active,.select_in-leave-active {transition: all .5s ease;}
.select_in-enter, .select_in-leave-to{transform: translateX(-20px);opacity: 0;}
.select_in-enter-active,.select_in-leave-active {transition: all .5s ease;}
.contain_box_in{animation: goin .5s;animation-fill-mode: forwards;}
@keyframes goin
{
    0% {padding-left:260px;}
    100%{padding-left:0px;}
}
.el-pagination{text-align: right;padding:20px 0;}
.el-dialog__header{font-size: 20px;position: relative;padding:10px 20px 20px 20px;}
.el-dialog__footer{padding-bottom:10px;padding-top:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
body .el-table th.gutter{display: table-cell!important;}
.selectInTable .el-input__inner{width:100%;font-size: 12px;line-height: 30px!important;height:30px!important;}
.selectInTable .el-icon-arrow-up{margin-top:5px;}
.selectInTable .is-reverse{position: relative;top:-10px;}
input{outline: none;}
.fa-plus{cursor: pointer;margin-right:10px!important;font-size: 16px!important;}
.fa-trash{cursor: pointer;font-size: 16px!important;}
.main .el-tabs__content{background-color: #f1f4f5;}
.STableTitle{line-height: 32px;background-color: #fff;padding:10px 0 10px 10px;box-sizing: 100%;border-radius: 5px 5px 0 0;}
.baseMenu{display:block!important;}
.mainTable .el-table__body tr:hover{cursor: pointer;}
.publicSelect{width:305px;position: fixed;bottom:0;left: 10px;background-color:#e0f4ff; z-index: 1;margin:0;padding-top:10px;}
.fa-edit {cursor: pointer;font-size: 16px!important;margin-right:10px;}
.select_box .el-row .span{float: left;font-size: 14px;line-height: 28px;} 
.select_box .el-row .el-select{float: right;width:160px;} 
.select_box .el-input__inner{height:30px;line-height: 30px;font-size: 12px;} 
.select_box .date_input{width:100%;margin-top:10px;}